.jumbotron {
  text-align: center;
  margin-bottom: 20px;
  background-color: #EEEEEE;
  height: 200px;
  box-shadow: 5px 5px 5px #212529;
}

.jumbotron h1{
  font-size: 50px;
  color: skyblue;
  text-shadow: 1px 1px 1px #212529;
}
.navbar {
  margin-top: 0;
  margin-bottom: 0px;
}

.well {
  background-color: white;
  box-shadow: 5px 5px 5px #212529;
  padding: 10px;
  width: 100%;
}

.navbar {
  font-weight: bold;
}

.home-well {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 20px;
}

.about-profile {
  text-align: left;
}

.content {
  padding: 20px;
  background-color:#EEEEEE;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: bg-dark;
}

.title-footer {
  text-indent: 5px;
}

.about-panel {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.about-panel ul, li{
  list-style-position:inside;
  margin:0;
  padding:0;
  list-style-type: none;
}

.project-row {
  text-align: center;
  margin-top: 50px;
}

.panel-title{
  background-color: #212529;
  color: white;
  border-bottom: solid;
  border-width: 5px;
  border-color: white;
  padding: 5px;
}

.panel-body {
  padding: 5px;
}
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: bg-dark;
  height: 100%;
  box-shadow: 5px 5px 10px #212529;
}

.img-thumb {
  width: 90%;
  text-decoration: none;
  border-style: solid;
  box-shadow: 5px 5px 10px #212529;
  border-width: 1px;
  border-color: bg-dark;
  margin-bottom: 5px;
}

.img-code-index {
  overflow: hidden;

  width: 100%;
  background-image: url(../img/img_code.png);
  height: 250px;
  border: black;
  border-width: 1px;
  border-style: solid;
  
  background-position: center;
  background-size: cover;
  text-align: right;
}

.img-code-index h2 {
  color: white;
  text-shadow: 10px 10px 10px #212529;
  padding-right: 30px;
}

.img-code-index p {
  color: white;
  text-shadow: 10px 10px 10px #212529;
  padding-right: 30px;
  font-size: 17px;
}

.img-code-portfolio {
  overflow: hidden;

  width: 100%;
  background-image: url(../img/img_vscode.png);
  height: 250px;
  border: black;
  border-width: 1px;
  border-style: solid;
  
  background-position: center;
  background-size: cover;
  text-align: right;
}

.img-code-portfolio h2 {
  color: white;
  text-shadow: 10px 10px 10px #212529;
  padding-right: 30px;
}

.img-code-portfolio p {
  color: white;
  text-shadow: 10px 10px 10px #212529;
  padding-right: 30px;
  font-size: 17px;
}

.img-code-about {
  overflow: hidden;

  width: 100%;
  background-image: url(../img/img_code2.png);
  height: 250px;
  border: black;
  border-width: 1px;
  border-style: solid;
  
  background-position: center;
  background-size: cover;
  text-align: right;
}

.img-code-about h2 {
  color: white;
  text-shadow: 10px 10px 10px #212529;
  padding-right: 30px;
}

.img-code-about p {
  color: white;
  text-shadow: 10px 10px 10px #212529;
  padding-right: 30px;
  font-size: 17px;
}

.img-profile {
  width: 150px;
  float: left;
  text-decoration: none;
  border-style: solid;
  box-shadow: 5px 5px 10px #212529;
  border-width: 1px;
  border-color: bg-dark;
  margin-bottom: 5px;
  margin-right: 20px;
}

a.view-live-link  {
  text-decoration: none;
  color: #212529;
}

a.view-live-link:hover {
  text-decoration: none;
  color: skyblue;
}

a, a:focus, a:active, a:visited, a:hover img {
  color: #212529;
  text-decoration: none;
}

.home-portfolio {
  text-align: center;
  background: #212529;
  color: white;
}

.emphasis {
  color: skyblue;
}

.tech-list {
  text-align: left;
}

.tech-list li {
  list-style-type: decimal;
}

a.portfolio-link  {
  text-decoration: none;
  color: white;
}

a.portfolio-link:hover {
  text-decoration: none;
  color: skyblue;
}